/* Generic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8080/static/ex/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8080/static/ex/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:8080/static/ex/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8080/static/ex/fonts/NotoSans-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("http://localhost:8080/static/ex/fonts/Ubuntu-B.ttf");
}
.eo-box, auto
div.eo-question,
div.eo-question > .eo-hint,
div.eo-question > .eo-options > .eo-option,
div.eo-question > .eo-correct {
  font-family: "Roboto", "Noto Sans", sans-serif;
}

.eo-button, .eo-menu > .eo-language_picker > .eo-language_picker-option::before {
  height: 19px;
  width: 21px;
  background-repeat: no-repeat;
}

.eo-box {
  @expand %reset;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.eo-toggle {
  @expand %reset;
  position: relative;
  width: 41px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.eo-toggle > .eo-toggle-inner {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 2px solid #90a4ae;
  border-radius: 9px;
  background-color: #90a4ae;
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
}
.eo-toggle > .eo-toggle-inner::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  border: 3px solid #90a4ae;
  border-radius: 20px;
  transition: border-color 0.3s ease-in 0s, right 0.3s ease-in 0s;
}

/* Question */
/* CSS reset */
div.eo-question {
  @expand %reset;
  /* active needs to have same width so js animations work */
  /* options arrow can't be a child of eo-options because overflow: hidden */
  /* progress 3d animation */
}
auto
div.eo-question,
div.eo-question > .eo-hint,
div.eo-question > .eo-options > .eo-option,
div.eo-question > .eo-correct {
  height: 18px;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 18px;
  color: #fff;
}
div.eo-question > .eo-hint, div.eo-question.eo-active > .eo-options > .eo-option:hover,
div.eo-question > .eo-correct {
  font-weight: 700;
}
div.eo-question > .eo-options > .eo-option {
  height: 32px;
  letter-spacing: 0.03em;
}
div.eo-question,
div.eo-question > .eo-hint {
  background-color: #78909c;
}
div.eo-question > .eo-options,
div.eo-question > .eo-options > .eo-option {
  background-color: #4b5666;
}
div.eo-question > .eo-options > .eo-option:hover {
  background-color: #78909c;
}
div.eo-question.eo-show_solution > .eo-options > .eo-option.eo-correct_option,
div.eo-question > .eo-correct {
  background-color: #2cc6a8;
}
div.eo-question > .eo-correct:hover {
  background-color: #2fb299;
}
div.eo-question .eo-options > .eo-option.eo-correct_option::after {
  display: inline-block;
  position: absolute;
  margin-top: -33px;
  /* This is the only way I found to do "top: x", since that would stick it always in the first row */
  right: -12px;
  width: 39px;
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  visibility: hidden;
  content: "";
  background-image: url(http://localhost:8080/static/ex/img/correct.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
  transition: opacity 0.5s;
  opacity: 0;
}
div.eo-question.eo-show_solution > .eo-options > .eo-option.eo-correct_option::after {
  visibility: visible;
  opacity: 1;
}
div.eo-question.eo-answered.eo-wrong_answer > .eo-correct {
  background-color: #4b5666;
}
div.eo-question > .eo-options,
div.eo-question > .eo-options > .eo-option > span,
div.eo-question > .eo-input,
div.eo-question > .eo-correct {
  display: block;
  padding-top: 2px;
  border-radius: 3px;
}
div.eo-question > .eo-hint {
  border-radius: 3px;
}
div.eo-question > .eo-options > .eo-option > span {
  padding: 6px 39px 6px 10px;
  text-align: left;
}
div.eo-question > .eo-input {
  padding-left: 10px;
  padding-right: 10px;
}
div.eo-question {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  border-radius: 3px;
  -webkit-user-select: none;
  margin: 0;
    /*
    width: auto transitions

    We would like to animate width from auto to auto, but the CSS spec doesn't like us
    and only allows animations from and to 'length, percentage or calc' values.
    So we define it just as we'd like, and add some javascript to questions.js to set the values
    (search for the title of this comment to find it).

    See http://n12v.com/css-transition-to-from-auto/
    */
  transition: width 0.5s ease-out;
}
div.eo-question > .eo-hint {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  transition: padding-left 0.5s, padding-right 0.5s;
}
.eo-direction-ltr div.eo-question.eo-active > .eo-hint, .eo-direction-ltr div.eo-question > .eo-hint:hover {
  padding-left: 10px;
  padding-right: 34px;
}
.eo-direction-rtl div.eo-question.eo-active > .eo-hint, .eo-direction-rtl div.eo-question > .eo-hint:hover {
  padding-left: 34px;
  padding-right: 10px;
}
div.eo-question.eo-answered > .eo-hint {
  display: none;
}
div.eo-question > .eo-hint::after {
  content: '\25BE';
  position: absolute;
  top: 9px;
  font-size: 16px;
  overflow: hidden;
  color: #263238;
  transform: translateY(-70%);
  transition: transform 0.25s, opacity 0.5s ease-out;
  opacity: 0;
}
.eo-direction-ltr div.eo-question > .eo-hint::after {
  right: 7px;
}
.eo-direction-rtl div.eo-question > .eo-hint::after {
  left: 7px;
}
div.eo-question > .eo-hint:hover::after {
  transform: translateY(-50%);
  opacity: 1;
}
div.eo-question.eo-active > .eo-hint::after, div.eo-question.eo-answered > .eo-hint::after {
  display: none;
}
div.eo-question.eo-active > .eo-mute_button {
  display: none;
}
div.eo-question.eo-active > .eo-mute_button {
  display: inline-block;
  position: absolute;
  height: 12px;
  width: 14px;
  top: 7px;
  right: 8px;
  background-size: 14px, 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(http://localhost:8080/static/ex/img/question-sound-off.svg);
}
div.eo-question.eo-active > .eo-mute_button:hover {
  background-image: url(http://localhost:8080/static/ex/img/question-sound-off-hover.svg);
}
.eo-speaker div.eo-question.eo-active > .eo-mute_button {
  background-image: url(http://localhost:8080/static/ex/img/question-sound-on.svg);
}
.eo-speaker div.eo-question.eo-active > .eo-mute_button:hover {
  background-image: url(http://localhost:8080/static/ex/img/question-sound-on-hover.svg);
}
div.eo-question > .eo-options {
  position: absolute;
  top: 25px;
  margin: 0;
  padding: 0;
  z-index: 2;
  list-style: none;
  opacity: 0;
  transform: scale3d(1, 0, 1);
  transform-origin: top;
  transition: transform 0.5s, opacity 0.5s, width 0.5s;
}
div.eo-question.eo-active > .eo-options {
  /* so we get rounds corners on this but not on eo-option */
  overflow: hidden;
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: transform 0 0.5s, opacity 0.25s;
  animation: expand 0.5s ease-out;
}
@keyframes expand {
  0% {
    transform: scale3d(1, 0, 1);
  }
  25% {
    transform: scale3d(1, 1.2, 1);
  }
  50% {
    transform: scale3d(1, 0.85, 1);
  }
  75% {
    transform: scale3d(1, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
div.eo-question.eo-active::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 4px 4px;
  border-color: #4b5666 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: 21px;
  right: 10px;
}
div.eo-question > .eo-options > .eo-option {
  display: block;
  /* options width is measured when options are invisible, so lets accomodate :hover by measuring it bold */
  font-weight: 700;
}
div.eo-question.eo-active > .eo-options > .eo-option {
  font-weight: 400;
  transition: background 0.75s;
}
div.eo-question.eo-active > .eo-options > .eo-option:hover {
  transition: background 0.15s;
}
div.eo-question > .eo-options > .eo-option > span {
  /* so we can use it to measure the needed final width for correct */
  width: initial;
}
div.eo-question .eo-question {
  margin-bottom: 0 !important;
}
div.eo-question > .eo-input {
  display: inline-block;
  position: absolute;
  background-color: #4b5666;
  width: 7em;
  transform: scale3d(0, 1, 1);
  transform-origin: right;
  transition: transform 0.5s ease-out;
}
div.eo-question.eo-active > .eo-input {
  transform: scale3d(1, 1, 1);
}
div.eo-question > .eo-correct {
  display: none;
  position: relative;
  padding-left: 10px;
  padding-right: 34px;
  top: 0;
  /* grep for width: auto transitions */
  transition: top 0.5s ease-in, padding-left 0.5s, padding-right 0.5s;
}
div.eo-question.eo-answered > .eo-correct {
  display: block;
  padding-left: 22px;
  padding-right: 22px;
}
div.eo-question:not(.eo-expired) > .eo-correct {
    /* There's strange behavior where if .eo-correct has higher z-index than .eo-options,
       which is above will depend on whether the .eo-correct was there from the beginning or
       not... or something.

       We want it only above its own .eo-options, so .eo-expired children don't need high z-index,
       and so it doesn't manifest. Obviously, I don't fully understand this, but it works.
    */
  z-index: 3;
}
div.eo-question.eo-answered:not(.eo-expired) {
  perspective: 300px;
  transform-style: preserve-3d;
  animation: tilt-to-show-progress 1s 0.5s ease-out;
}
@keyframes tilt-to-show-progress {
  0% {
    transform: rotateX(0);
  }
  20% {
    transform: rotateX(45deg);
  }
  60% {
    transform: rotateX(45deg);
  }
  100% {
    transform: rotateX(0);
  }
}
div.eo-question > .eo-progress {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2ex;
  overflow: hidden;
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  background: #aee5e1;
  border-radius: 3px;
}
div.eo-question > .eo-progress > .eo-progress-inner {
  display: inline-block;
  height: 100%;
  width: 0;
  transition: width 1s 1s;
  background: #37d38d;
}

/* in open questions, when you have the wrong keyboard language */
.eo-layout-warning {
  position: absolute;
  top: -10ex;
  left: 0px;
  padding: 6px;
  width: 8em;
  text-align: center;
}

/* Button */
.eo-button.eo-button-loading {
  background-image: url(http://localhost:8080/static/ex/img/button-loading.svg);
  background-size: 21px;
}
.eo-button.eo-button-unavailable {
  background-image: url(http://localhost:8080/static/ex/img/button-unavailable.svg);
  background-size: 21px;
}
.eo-button.eo-button-off, .eo-button.eo-button-on {
  background-image: url(http://localhost:8080/static/ex/img/button-logo.svg);
  background-size: 21px;
}

/* Menu */
.eo-button {
  overflow: visible;
  display: inline-block;
}

.eo-menu {
  position: absolute;
  z-index: 9999;
  /*top: 18px / 2 - 58px;*/
  top: -12px;
  left: 21px;
  min-width: 10em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s 0s, visibility 0s 0.5s;
}
.eo-direction-rtl .eo-menu {
  direction: rtl;
}
.eo-direction-ltr .eo-menu {
  direction: ltr;
}
.eo-direction-ltr .eo-menu > div button {
  text-align: left;
}
.eo-direction-rtl .eo-menu > div button {
  text-align: right;
}
.eo-menu.eo-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0s;
}
.eo-menu::before {
  top: 60px;
  left: -3.5px;
  content: '';
  position: absolute;
  display: block;
  border-style: solid;
  transform: rotateZ(45deg);
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.2);
  border-color: transparent transparent #eceff1 #eceff1;
  border-width: 3.5px;
  z-index: -1;
  width: 0;
}
.eo-menu #eo-header {
  background-color: #eceff1;
  height: 86px;
  width: 183px;
  /* so we don't square parent's corners */
  border-radius: 3px;
}
.eo-menu #eo-header #eo-account {
  width: 159px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #b8c5c9;
}
.eo-menu #eo-header #eo-account::before, .eo-menu #eo-header #eo-account > .eo-account-avatar {
  content: "";
  display: inline-block;
  position: relative;
  background-repeat: no-repeat;
}
.eo-menu #eo-header #eo-account::before {
  float: left;
  margin-top: 17px;
  width: 82px;
  height: 21px;
  background-image: url(http://localhost:8080/static/ex/img/menu-logotype.svg);
  /*background-image: url(http://localhost:8080/static/ex/img/correct.svg);*/
  background-size: contain;
}
.eo-menu #eo-header #eo-account > #eo-account-avatar {
  position: static;
  float: right;
  margin-top: 8px;
  margin-right: 12px;
  width: 31px;
  height: 31px;
  background-image: url(http://localhost:8080/static/ex/img/menu-avatar.svg);
  background-size: contain;
}
.eo-menu #eo-header #eo-account > #eo-account-avatar::after {
  content: '\25BE';
  float: right;
  margin-right: -14px;
  font-size: 23px;
  color: #455a64;
}
.eo-menu #eo-header #eo-toolbar {
  direction: rtl;
  text-align: left;
  height: 38px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-toggle,
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-toggle:first-child,
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-button:first-child {
  margin-right: 0;
}
body.eo-active .eo-menu #eo-header #eo-toolbar > .eo-toolbar-toggle.eo-toolbar-toggle-active .eo-toggle-inner {
  background-color: #2cc6a8;
}
body.eo-active .eo-menu #eo-header #eo-toolbar > .eo-toolbar-toggle.eo-toolbar-toggle-active .eo-toggle-inner, body.eo-active .eo-menu #eo-header #eo-toolbar > .eo-toolbar-toggle.eo-toolbar-toggle-active .eo-toggle-inner::before {
  border-color: #2cc6a8;
}
body.eo-active .eo-menu #eo-header #eo-toolbar > .eo-toolbar-toggle.eo-toolbar-toggle-active .eo-toggle-inner::before {
  right: 0px;
}
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-button {
  width: 20px;
  height: 16px;
  background-size: 20px, 16px;
  background-repeat: no-repeat;
}
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-button.eo-toolbar-button-speaker {
  background-image: url(http://localhost:8080/static/ex/img/menu-sound-off.svg);
}
.eo-menu #eo-header #eo-toolbar > .eo-toolbar-button.eo-toolbar-button-speaker:hover {
  background-image: url(http://localhost:8080/static/ex/img/menu-sound-off-hover.svg);
}
.eo-speaker .eo-menu #eo-header #eo-toolbar > .eo-toolbar-button.eo-toolbar-button-speaker {
  background-image: url(http://localhost:8080/static/ex/img/menu-sound-on.svg);
}
.eo-speaker .eo-menu #eo-header #eo-toolbar > .eo-toolbar-button.eo-toolbar-button-speaker:hover {
  background-image: url(http://localhost:8080/static/ex/img/menu-sound-on-hover.svg);
}
.eo-menu > .eo-language_picker > .eo-language_picker-option {
  height: 32px;
  line-height: 32px;
  /* centers a single line of text */
  width: 8em;
  vertical-align: middle;
  border-bottom: 1px solid #eeeff0;
  font-family: "Ubuntu";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #aab7b6;
  transition: color 0.5s;
}
.eo-direction-ltr .eo-menu > .eo-language_picker > .eo-language_picker-option {
  direction: ltr;
  padding-left: 80px;
}
.eo-direction-rtl .eo-menu > .eo-language_picker > .eo-language_picker-option {
  direction: rtl;
  padding-right: 80px;
}
body.eo-active .eo-menu > .eo-language_picker > .eo-language_picker-option {
  color: #455a64;
}
.eo-menu > .eo-language_picker > .eo-language_picker-option::before {
  content: '';
  display: inline-block;
  overflow: hidden;
  position: absolute;
  margin-top: 8px;
}
.eo-direction-ltr .eo-menu > .eo-language_picker > .eo-language_picker-option::before {
  left: 25px;
}
.eo-direction-rtl .eo-menu > .eo-language_picker > .eo-language_picker-option::before {
  right: 25px;
}
.eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-en::before {
  background-image: url(http://localhost:8080/static/ex/img/button-on-en.svg);
  background-size: 21px;
}
.eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-es::before {
  background-image: url(http://localhost:8080/static/ex/img/button-on-es.svg);
  background-size: 21px;
}
.eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-fr::before {
  background-image: url(http://localhost:8080/static/ex/img/button-on-fr.svg);
  background-size: 21px;
}
.eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-zh::before {
  background-image: url(http://localhost:8080/static/ex/img/button-on-zh.svg);
  background-size: 21px;
}
.eo-menu > .eo-language_picker > .eo-language_picker-option:hover, body.eo-active.eo-language-en .eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-en, body.eo-active.eo-language-es .eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-es, body.eo-active.eo-language-fr .eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-fr, body.eo-active.eo-language-zh .eo-menu > .eo-language_picker > .eo-language_picker-option.eo-language_picker-zh {
  background-color: #eceff1;
}
.eo-menu > .eo-superuser {
  margin: 2em 5%;
}
.eo-menu > .eo-superuser button {
  width: 100%;
  margin-bottom: 0.66em;
  font-size: 1.3em;
}

/* Tutorial */
body.eo-tutorial.eo-tutorial-1 .eo-menu::after {
  content: '';
  position: absolute;
  top: 100px;
  left: 110%;
  background-image: url(http://localhost:8080/static/ex/img/tutorial-pick_language.png);
  height: 104px;
  width: 218px;
}

body.eo-tutorial.eo-tutorial-2 .eo-question.eo-first_question::before {
  content: '';
  position: absolute;
  top: -146px;
  left: -33px;
  background-image: url(http://localhost:8080/static/ex/img/tutorial-translate.png);
  height: 119px;
  width: 232px;
}

/* Editor */
.eo-editor-candidate {
  color: orange;
}

.auto-editor-suspended {
  background-color: grey;
  border: none;
}

.auto-editor-question {
  background-color: blue;
  border: none;
}

.auto-editor-candidate_inner {
  background-color: yellow;
  border: none;
}

.auto-editor-button {
  background-color: #3CB371;
  height: 75px;
  width: 232px;
}

.hide {
  display: none;
}

.eo-editor-question {
  /*   background-color: darkgreen;*/
  background-color: #ADFF2F;
}

.eo-editor-irrelevant {
  /*color: gray;*/
  background-color: #DCDCDC;
}

/* Misc. */
/** School Roster **/
.eo-school-roster {
  height: 36ex;
}
.eo-school-roster,
.eo-school-roster .eo-school-roster-logout {
  padding: 6px;
  width: auto;
}
.eo-school-roster .eo-school-roster-names {
  height: 30ex;
}

/* Site specific */
body.www-bhol-co-il .eo-layout-warning {
  top: -16ex;
}
body.www-bhol-co-il .eo-button {
  margin-right: 5px;
}

body.www-bloombergview-com .eo-button {
  float: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #00B9E7;
  background-position: 15px, 13px;
  margin-bottom: 0 0 1px 0;
  overflow: visible !important;
}
body.www-bloombergview-com .eo-button:hover {
  width: 50px !important;
}
body.www-bloombergview-com .eo-button.eo-button-loading {
  background-image: url(http://localhost:8080/static/ex/img/button-loading-white.svg);
  background-size: 21px;
}
body.www-bloombergview-com .eo-button.eo-button-unavailable {
  background-image: url(http://localhost:8080/static/ex/img/button-unavailable-white.svg);
  background-size: 21px;
}
body.www-bloombergview-com .eo-button.eo-button-off, body.www-bloombergview-com .eo-button.eo-button-on {
  background-image: url(http://localhost:8080/static/ex/img/button-logo-white.svg);
  background-size: 21px;
}
body.www-bloombergview-com.eo-tutorial-1 .eo-button.eo-button-off::before, body.www-bloombergview-com.eo-tutorial-1 .eo-button.eo-button-on::before {
  width: 17px;
  height: 17px;
  background-image: url(http://localhost:8080/static/ex/img/notification.svg);
  margin-top: 8px;
  margin-left: 8px;
}
body.www-bloombergview-com .eo-menu {
  /*top: 19px - 58px;*/
  top: -12;
  left: 50px;
}
body.www-bloombergview-com .eo-menu > .eo-superuser p {
  color: #000 !important;
}
